@use "../variables" as v;

.explore.container {
    min-height: 100%;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-items: center;
        margin-right: 1rem;
    }

    .recipe_wo_cuisines {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

