@use "../variables" as v;
@use "../components/navbar";

// @function get-vw($target) {
//     $vw-context: calc((1000*.01) * 1px);
//     @return clac(($target/$vw-context) * 1vw);
// }

.cuisine_type.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 1rem;
  width: 100%;

  .cuisine_list {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    // display: block;

    #slider {
      display: flex;
      flex-direction: row;
      // overflow-x: scroll;
      width: 65rem;
      // white-space: nowrap;
      overflow: auto;
      // scroll-behavior: smooth;
    }
  }
}
