@use "../variables" as v;

label {
  color: v.$off_white;
  font-size: v.$small;
  font-family: v.$lato;
  font-weight: v.$normal;
  p {
    margin-bottom: 0.5rem;
  }
}

// .sign_in {
//     position:  absolute;
//     z-index: 100;
// }
.title {
  // I don't think its fully centered
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: v.$large;
  font-family: v.$highgate;
  font-weight: v.$bold;
  color: v.$salmon;

  margin: 1rem;
  // padding-top: 1rem;
}
.login-form {
  // background-color: v.$dark_forest_green;
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 5rem;
  border: 2px solid v.$salmon;
  background: v.$dark_forest_green;
  box-shadow: 9px 9px 45px #1c2e2c, -9px -9px 45px #263e3c;
  opacity: 0.9;
  border-radius: 1.563rem;
}

.item {
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: v.$light_forest_green;
  padding: 0.5rem 1rem;
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  display: block;
  // color: v.$off_white;
}

input[type=text], input[type=password], input[type=email]{
    background-color: v.$light_forest_green;
    color: v.$light_olive_green;
    font-family: v.$lato;
    font-weight: v.$normal;
    font-size: v.$small;
}

// .input::placeholder {
//     color: v.$off_white;
// }

//.btn {
//    background-color: v.$light_olive_green;
//    border: none;
//    border-radius: 0.75rem;
//    padding: .5rem 2rem;
//    color: v.$off_white;
//    opacity: .8;
//    display: Flex;
//    flex-direction: Center;
//    align-items: center;
//    justify-content: center;
//    font-family: v.$lato;
//    font-weight: v.$normal;
//    font-size: v.$small;
//}

.sign_in, .sign_up {
  button {
    padding: 0.8em 1.8em;
    border: 2px solid v.$salmon;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: v.$off_white;
    border-radius: 0.75rem;
  }

  button::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: v.$salmon;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  button:hover::before {
    width: 105%;
  }

  button:hover {
    color: #111;
  }
}
