@use "../variables" as v;

.navbar {
  min-height: 100%;
  background-image: url("/images/navbar_background.png");
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  // position: absolute;

  .navlink {
    text-decoration: none; // get rid of default link decoration
    color: inherit; // get rid of default link color
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    margin-top: 2rem;

    .navitem {
      background-color: v.$light_forest_green;
      border-radius: 0.75rem;
      

      .content {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        border-radius: 0.75rem;

        .icon {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .logo {
    background-color: v.$dark_forest_green !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      height: auto;
      /* height: 100vh; */
      object-fit: contain;
      margin: 1rem;
    }
  }

  // .profile_container {
  //   // padding: 2rem;
  // }

  .sub_menu {
    position: relative;
    height: 21rem;
    .navlink:nth-child(1) {
      height: 12.75rem;
    }
    .profile {
      width: 6.25rem;
      position: absolute;
      // top: 40%;
      // line-height: 0.01rem;
      border-radius: 6.25rem 6.25rem 0% 0%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin: 1rem 3rem;
      // width: fit-content;
      // width: 70%;
    

      img {
        width: 6.25rem;
        object-fit: contain;
        // margin: 1rem;
        content: url(../../images/profile_background_inactive.png);
      }
    }

    .active {
        img {
          width: 6.25rem;
          object-fit: contain;
          // margin: 1rem;
          content: url(../../images/profile_background_active.png);
        }
    }


    .explore {
      width: 6.25rem;
      position: absolute;
      top: 9.625rem;
      border-radius: 6.25rem 6.25rem;
      height: 6.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 10;

      background-color: v.$dark_forest_green;
      color: v.$light_forest_green;
    }

    .myrecipes {
      width: 6.25rem;
      position: absolute;
      top: 12.75rem;
      // line-height: 0.01rem;
      border-radius: 0 0 0.75rem 0.75rem;
      height: 8.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .content {
        padding-top: 2rem;
      }
    }
  }

  .navitem .logmeal {
    // background-color: v.$dark_forest_green !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navitem .addrecipe {
    // background-color: v.$dark_forest_green !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active {
    color: v.$light_forest_green;

    .navitem {
      background-color: v.$deep_olive_green;
    }
  }
}
