@use "../variables" as v;


.search_items_container {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;  
 justify-content: flex-end; 
 max-width: 25rem;
}

.search_items {
    cursor: pointer;
    margin: 0.5rem;
    background-color: v.$light_forest_green;
    width: fit-content;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    color: v.$dark_forest_green;
}

.filter_dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    // align-items: center;
    // width: fit-content;
}

.filter_button {
    display:inline-block;
    padding: 0.5rem;
    // border: 0.25rem solid v.$light_olive_green;
    border: none;
    background-color: v.$deep_yellow;
    margin: 0.5rem 0.5rem;
    border-radius: 0.75rem;
    box-sizing: border-box;
    text-decoration: none;
    font-family: v.$lato;
    font-weight: v.$bold;
    // font-size: v.$small;
    color: v.$light_olive_green;
    text-align: center;
    transition: all 0.2s;
}

.filter_button:hover {
    color: v.$deep_yellow;
    background-color: v.$light_olive_green;
}

input[type="text"].search_input {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    display: inline-block;
    // border: 0.25rem solid v.$light_olive_green;
    border: none;
    background-color: v.$deep_yellow;
    border-radius: 0.75rem;
    box-sizing: border-box;
    font-family: v.$lato;
    color: v.$light_olive_green;
    font-size: v.$medium;
}

.checkbox_item {
    background-color: v.$light_olive_green;
    width: fit-content;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.75rem;

    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: v.$light_forest_green;
        /* Not removed via appearance */
        margin: 0;
        font-family: v.$lato;
        color: v.$light_olive_green;
        width: 1.25rem;
        height: 1.25rem;
        border: 0.2rem solid v.$salmon;
        border-radius: 0.25rem;
        transform: translateY(-0.075rem);
        display: inline-grid;
        place-content: center;
        margin-right: 0.5rem;
    }

    input[type="checkbox"]::before {
        content: "";
        width: 0.65rem;
        height: 0.65rem;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1rem 1rem v.$dark_forest_green;
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }

    input[type="checkbox"]:focus {
        outline: max(2px, 0.15rem) solid v.$salmon;
        outline-offset: max(2px, 0.15rem);
    }
      
    label {
        font-family: v.$lato;
        font-size: v.$medium;
    }

    .checkmark {
        // position: absolute;
        top: 0;
        left: 0;
        height: 1rem;
        width: 1rem;
        // background-color: v.$deep_yellow;
    }
}


