@use "../variables" as v;

// label {
//     color: v.$off_white;
//     font-size: v.$small;
//     font-family: v.$lato;
//     font-weight: v.$normal;
//     p {
//         margin-bottom: 0.5rem;    }
    
// }

// .sign_in {
//     position:  absolute;
//     z-index: 100;
// }
// .title { // I don't think its fully centered
//     display: Flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     font-size: v.$large;
//     font-family: v.$highgate;
//     font-weight: v.$bold;
//     color: v.$salmon;

//     margin: 1rem;
//     // padding-top: 1rem;
// }

.signup-form {
    // background-color: v.$dark_forest_green;
    display: Flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 8rem;
    border: 2px solid v.$salmon;
    background: v.$dark_forest_green;
    box-shadow:  9px 9px 45px 	#1c2e2c,
    -9px -9px 45px #263e3c;
    opacity: .9;
    border-radius: 1.563rem;
}


// .item {
//     display: Flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

// .input {
//     background-color: v.$light_forest_green;
//     padding: .5rem 1rem;
//     display: Flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     border-radius: 0.75rem;
//     display: block;
//     // color: v.$off_white;  
// }

// input[type=text], input[type=password], input[type=email] {
//     background-color: v.$light_forest_green;
//     color: v.$light_olive_green;
//     font-family: v.$lato;
//     font-weight: v.$normal;
//     font-size: v.$small;
// }

// .input::placeholder {
//     color: v.$off_white;
// }

// .btn {
//    background-color: v.$light_olive_green;
//    border: none;
//    border-radius: 0.75rem;
//    padding: .5rem 2rem;
//    color: v.$off_white;
//    opacity: .8;
//    display: Flex; 
//    flex-direction: Center;
//    align-items: center;
//    justify-content: center;
//    font-family: v.$lato;
//    font-weight: v.$normal;
//    font-size: v.$small;
// }
