@import url("https://use.typekit.net/dsm3pjk.css"); // adobe fonts 

// font-family
$lato: lato,sans-serif;
$highgate: highgate, sans-serif;

// font-weights
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

// font-size
$small: 0.9rem;
$medium: 1.25rem;
$large: 1.875rem;  

// colors
$light_olive_green: #517951;
$deep_olive_green: #4E5E4E;
$light_forest_green: #D2E0CE;
$dark_forest_green: #213634;
$off_white: #F6EFEF;
$salmon: #F2C6B2;
$deep_yellow: #FAC25C;
